@page
@model IndexModel
@{
    ViewData["Title"] = "Velkommen";
}


<div class="landing">
    <img class="logo" src="~/images/Zealand_logo_black_RGB_1600px_72dpi.png" alt="Zealand logo" />
    <div class="site-title">Zealand Eksamens Oversigt</div>
    <div class="site-sub">Et system til oversigt over eksamener på Zealand, lavet som eksamensprojekt på 2. semester. Af Sophie & Emil</div>
</div>
